node_modules
.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

# My ignores
teste.js
teste2.js
teste3.js
teste4.js
teste4.ts
.eslintrc.js
prettier.config.js
extension.js
utils.js
esbuild.js
releaseNotes.js
positionTracking.js
types.ts
tsconfig.json
