node_modules
.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

# My ignores
teste.js
teste2.js
teste3.js
teste4.js
teste4.ts
teste4.mjs
teste5.js
.eslintrc.js
prettier.config.js
extension.ts
utils.ts
esbuild.js
importantChanges.ts
positionTracking.ts
tsconfig.json